

.fonLogoHeader{ background-color: yellowgreen; }
.imgLogoHeader{ height: 100px; width: 100px; }
.fonBarHeader{ background-color: yellow; }
.barHeader{ display: flex; flex-direction: row; width: 100%; justify-content: right; }
.buttonBarHeader{ display: flex; flex-direction: row; gap: 5px; }
.buttonBarHeader button{ border: solid 0 black; background-color: #ffffaa; }

