
.sectionPost{
    max-width: 832px;/*~*/
    margin: 10px;
}

.posts{
    display: flex;
    flex-direction: column;
    min-width: 417px;
    gap: 50px;
}
.post{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
    
    padding: 10px 15px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 5px;
}
.containerPost{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.headerPost{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}
.imgAvatarPost{ max-width: 50px; height: 50px;} /*Автозамену аватарки*/
.contentPost{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    max-height: 350px; }
/* .imgPost{ max-width: 100%; } */
.unwrap{ height: 0; transform: translateY(-36px); }
.unwrapButton{ width: 100%; background-color: #fffffff0; }
.footherPost{
    display: flex;
    flex-direction: row;
    gap: 35px;
}



.commentsPost{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.commentPost{ margin: 5px 0 0px 10%; }
.containerCommentPost{
    padding: 10px;
    margin-right: -10px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    border-right: 0px;
}
.headerCommentPost{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
}
.contentCommentPost{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* .imgCommentPost{ max-width: 100%; } */
.imgAvatarCommentPost{ width: 50px; } /*Автозамену аватарки*/








