
*{
    font-family: "Calibri";
    margin: 0;
    padding: 0;
}




.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.centerAlignment{
    justify-content: center;
}

.rightAlignment{
    justify-content: right;
}

.leftAlignment{
    justify-content: left;
}




img{
    display: block;
    max-width: 100%;
    height: 100%;
}









button{
    /* margin: 0 -1px; */
    padding: 5px 11px;
    border: 1px solid black;
    font-size: 12pt;
    background-color: whitesmoke;
}
button:hover {
    background-color: rgba(195, 195, 195, 0.863);
}
button.active{
    color: #ffffff;
    background-color: #6985B4;
}
.logoutForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}





hr{
    border: 1px solid #000000;
}
